body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}



.container {
  width: 550px;
  height: 550px;
  background: #F5F7FB;
  margin: auto;
  position: relative;
  border: 3px solid #050f44;
  border-radius: 25px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

}


.container::after, .container::before {
    
  content:' ';
  position: absolute;
  border-radius: 50px;
  height: 130px;
  width: 30%;
 
}
.container::after {
   right: -12px;
    background-color: #FFFAD1;
    top: -85px;
   
    transform: rotate(-115.49deg);
}
.container::before {
  left: -50px;
  background-color: #DEEBF8;
  bottom: -80px;
  transform: rotate(125.51deg);
  
}

.intro-content > .title{

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 31.25px;
line-height: 37px;
text-align: center;
border-radius: 2px;
color: #293264;
}
.intro-content > .description{

height: 19px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #293264;

}

.intro-content > .btn-container{
  text-align: center;
  margin-top: 20px;
}
.btn-start-quiz{
  width: 150px;
  height: 52px;

background: #4D5B9E;
border-radius: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #F5F7FB;
cursor: pointer;
}


/*Quix*/



.quiz{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;

}

.quiz-answers {
  display: flex;
  flex-direction: row;
  justify-content: flex;
  gap: 80px;
  
}

.quiz-answers > div.selected{
  background: #D6DBF5;
}


.quiz-answers > div {
 

width: 65.92px;
height: 27.65px;

border: 0.794239px solid #4D5B9E;
box-sizing: border-box;
border-radius: 7.94239px;
cursor: pointer;


}
.quiz-answers > div > span{
  
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #293264;

}
.quiz .quiz-question{

  border-bottom: 0.794239px solid #DBDEF0;
  padding-bottom:12px;
}

.quiz-question > p {
      /* font-family: 'Karla'; */
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #293264; 
}

.check-answer{
  text-align: center;
  margin-top: 20px;
  background: #4D5B9E;
border-radius: 10px;
width: 120px;
height: 35px;
margin-left: auto;
margin-right: auto;
cursor: pointer;


}
.check-answer > div{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 10.24px;
line-height: 32px;
text-align: center;

color: #F5F7FB;

height: 14px;
}